<app-navbar></app-navbar>
<div class="wrapper">
  <div class="container-fluid">
    <div class="tab-content">
      <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" [selectedIndex]="index"
      class="w-100" animationDuration="0ms" (selectedTabChange)="cambioSeleccion($event)">
        <mat-tab label="USUARIOS">
          <app-usuarios-clientes></app-usuarios-clientes>
        </mat-tab>
        <mat-tab label="ADMINISTRADORES">
          <app-usuarios-administradores></app-usuarios-administradores>
        </mat-tab>
        <mat-tab label="CATEGORÍAS">
          <div style="display: flex; justify-content: flex-end; align-items: center; position: absolute; right: 0;">
            <button mat-mini-fab color="primary" (click)="agregarCategoria(0)"
            matTooltip="Agregar nueva categoría superior" matTooltipPosition="right">
              <mat-icon>add</mat-icon>
            </button>
          </div>
          <div class="title mt-5">
            <app-categoria-arbol style="width: 98%;"></app-categoria-arbol>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>