<nav class="navbar navbar-expand-lg" style="background-color: white;">
    <div class="container-fluid">
        <img class="logoOLX" src="../../../assets/img/logoOLX.jpg" alt="">
        <button *ngIf="usuario.id_usuario === 0" style="position: absolute; right: 0;top: 10px;" mat-flat-button id="boton" color="link" routerLink="/acceso">
            <mat-icon>person</mat-icon>
            <b >ACCESO</b>
        </button>
        <div *ngIf="usuario.id_usuario !== 0" class="dropdown d-flex" style="position: absolute; right: 0;top: 10px;">
            <button style="height: 40px; margin-right: 20px;" class="dropdown-toggle" mat-flat-button color="link"
                id="boton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> {{usuario.nombre}}
                {{usuario.apellido}}</button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton"
                style="right: 0; left: auto;">
                <a *ngIf="usuario.id_rol !== 0" class="dropdown-item" (click)="editarUsuario()">Editar mi perfil</a>
                <a *ngIf="usuario.id_rol == 1" class="dropdown-item" routerLink="/dashboard/0">Administración</a>
                <a class="dropdown-item" (click)="cerrarSesion()">Cerrar Sesión</a>
            </div>
        </div>
    </div>
</nav>