<div class="wrapper" style="margin-top: 20px;">
    <img style="margin-bottom: 20px;" src="../../../assets/img/logoOLX.jpg" class="logoAcceso">
    <div style="display: flex;justify-content: center; align-items: center; flex-direction: row;">
        <div class="mt-3 mt-3">
            <img *ngIf="!foto" class="fotoPerfil" src="../../../assets/img/perfilNull.png" alt="perfil">
            <img *ngIf="foto" class="fotoPerfil" [src]="foto" alt="perfil">
        </div>
        <div style="width: 50%; margin-left: 10px; text-align: center;">
            <label for="foto" style="color: rgb(110, 110, 110);">Cambiar foto:</label>
            <input style="max-width: 250px; font-size: 11px;" type="file" id="foto" name="foto" class="form-control"
                accept="image/png, image/jpg, image/jpeg, image/gif" (change)="alSeleccionarArchivo($event)"><br>
        </div>
    </div>
    <div class="editarPerfil mt-3 mt-md-0">
        <form #usuarioForm="ngForm" (ngSubmit)="guardarUsuario(usuarioForm)">
            <div class="row mb-2 mt-2">
                <div style="width: 76%;">
                    <div class="row  mb-3 mt-3">
                        <div class="col">
                            <div class="form-floating">
                                <input type="text" id="nombre" name="nombre" placeholder="Ingrese su nombre"
                                    class="form-control" required [(ngModel)]="usuario.nombre"
                                    pattern="[a-zA-ZáéíóúüÁÉÍÓÚÜ]*" #nombreInput="ngModel">
                                <label for="nombre"
                                    [style.color]="(usuario.nombre ? 'rgb(110, 110, 110)' : 'rgb(150, 150, 150)')">
                                    {{ usuario.nombre ? 'Nombre:' : 'Ingrese su nombre' }}
                                </label>
                                <small id="mensajeErrorTexto" class="form-text text-danger"
                                    [style.display]="(nombreInput.invalid && nombreInput.touched) ? 'block' : 'none'">
                                    Ingresar solo letras sin espacios.
                                </small>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-floating">
                                <input type="text" id="apellido" name="apellido" placeholder="Ingrese su apellido"
                                    class="form-control" [(ngModel)]="usuario.apellido" pattern="[a-zA-ZáéíóúüÁÉÍÓÚÜ]*"
                                    #apellidoInput="ngModel">
                                <label for="apellido"
                                    [style.color]="(usuario.apellido ? 'rgb(110, 110, 110)' : 'rgb(150, 150, 150)')">
                                    {{ usuario.apellido ? 'Apellido:' : 'Ingrese su apellido' }}
                                </label>
                                <small id="mensajeErrorTexto" class="form-text text-danger"
                                    [style.display]="(apellidoInput.invalid && apellidoInput.touched) ? 'block' : 'none'">
                                    Ingresar solo letras sin espacios.
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 mt-3">
                        <label for="fecha_nacimiento" style="color: rgb(110, 110, 110);">Fecha de
                            nacimiento:</label>
                        <input [style.color]="(usuario.fecha_nacimiento? 'black' : 'rgb(150, 150, 150)')" type="date"
                            id="fecha_nacimiento" name="fecha_nacimiento" class="form-control" required
                            [(ngModel)]="usuario.fecha_nacimiento" [max]="fechaMinima"
                            placeholder="Fecha de nacimiento">
                    </div>
                    <div class="form-floating mb-3 mt-3">
                        <select [style.color]="(usuario.id_tipo_usuario !== 0? 'black' : 'rgb(150, 150, 150)')"
                            class="form-select" name="id_tipo_usuario" [(ngModel)]="usuario.id_tipo_usuario"
                            (change)="restringirTipoDocumento()" required>
                            <option value="0" disabled selected>Seleccionar</option>
                            <option style="color: black" *ngFor="let tipoUsuario of tiposUsuario"
                                [value]="tipoUsuario.id_tipo_usuario">{{ tipoUsuario.nombre_tipo_usuario }}
                            </option>
                        </select>
                        <label for="id_tipo_usuario" style="color: rgb(110, 110, 110)">Tipo de usuario:</label>
                    </div>
                    <div class="form-floating mb-3 mt-3">
                        <input type="email" id="correo" name="correo" placeholder="Correo electrónico"
                            class="form-control" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}"
                            [(ngModel)]="usuario.correo" #correoInput="ngModel">
                        <label for="correo" style="margin-bottom: 40px !important;"
                            [style.color]="(usuario.correo ? 'rgb(110, 110, 110)' : 'rgb(150, 150, 150)')">
                            {{ usuario.correo ? 'Correo' : 'Ingrese su correo' }}</label>
                        <small id="mensajeErrorCelular" class="form-text text-danger"
                            [style.display]="(correoInput.invalid && correoInput.touched) ? 'block' : 'none'">
                            Ingrese un correo válido (ejemplo@email.com).</small>
                    </div>
                </div>
                <div style="width: 24%;">
                    <div class="d-flex align-items-center mb-3 mt-3" style="height: 58px;">
                        <mat-slide-toggle color="primary" name="nombre_apellido_publico" id="nombre_apellido_publico"
                            [(ngModel)]="estadoDatos.nombre_apellido_publico">Público</mat-slide-toggle>
                    </div>
                    <div class="d-flex align-items-center mb-3 mt-3" style="height: 66px;">
                        <mat-slide-toggle color="primary" name="fecha_nacimiento_publica"
                            [(ngModel)]="estadoDatos.fecha_nacimiento_publica">Público</mat-slide-toggle>
                    </div>
                    <div class="d-flex align-items-center mb-3 mt-3" style="height: 58px;">
                        <mat-slide-toggle color="primary" name="tipo_usuario_publico"
                            [(ngModel)]="estadoDatos.tipo_usuario_publico">Público</mat-slide-toggle>
                    </div>
                    <div class="d-flex align-items-center mb-3 mt-3" style="height: 58px;">
                        <mat-slide-toggle color="primary" name="correo_publico"
                            [(ngModel)]="estadoDatos.correo_publico">Público</mat-slide-toggle>
                    </div>
                </div>
            </div>
            <div class="d-grid gap-2 mb-3">
                <button type="button" mat-raised-button style="background-color: green; color: white;" (click)="restablecerContrasenia()"
                matTooltip="Restablecer contraseña" matTooltipPosition="right">
                    <mat-icon>lock</mat-icon> Restablecer contraseña
                </button>
            </div>
            <div>
                <div class="mt-3">
                    <label for="ubicacionActual" style="color: rgb(110, 110, 110);">Ubicación:</label>
                </div>
                <div style="display: flex; flex-direction: column; height: 100%; margin-top: -10px;">
                    <div class="d-grid gap-2 mb-3"
                        style="flex: 1; display: flex; flex-direction: column; position: relative;">
                        <button type="button" mat-raised-button color="warn" matTooltipPosition="right"
                            style="position: absolute; top: 20px; right: 5px; z-index: 10;" id="ubicacionActual"
                            (click)="obtenerUbicacionActual()" matTooltip="Buscar mi ubicación">
                            <mat-icon>location_on</mat-icon>Ubicación actual</button>
                    </div>
                    <div id="map" class="w-100" style="display: grid; place-items: center; height: 330px; border: 0.5px grove rgb(110, 110, 110);
                    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); z-index: 0;">
                    </div>
                </div>
            </div>
            <div class="row mb-2 mt-2" style="margin-top: 10px;">
                <div style="width: 76%;">
                    <div class="form-floating mb-3 mt-3">
                        <select [style.color]="(usuario.id_tipo_documento? 'black' : 'rgb(150, 150, 150)')"
                            class="form-select" name="id_tipo_documento" [(ngModel)]="usuario.id_tipo_documento"
                            required>
                            <option value="0" disabled selected>Seleccionar el tipo de documento</option>
                            <option style="color: black" *ngFor="let tipoDocumento of tiposDocumento"
                                [value]="tipoDocumento?.id_tipo_documento">{{ tipoDocumento?.nombre_tipo_documento }}
                            </option>
                        </select>
                        <label for="id_tipo_documento" style="color: rgb(110, 110, 110)">Tipo de documento:</label>
                    </div>
                    <div class="form-floating mb-3 mt-3">
                        <input type="number" id="numero_documento" name="numero_documento"
                            placeholder="Ingrese su número de documento" class="form-control" required
                            [(ngModel)]="usuario.numero_documento">
                        <label for="numero_documento"
                            [style.color]="(usuario.numero_documento? 'rgb(110, 110, 110)' : 'rgb(150, 150, 150)')">
                            {{ usuario.numero_documento ? 'Número de documento:' : 'Ingrese su número documento'
                            }}</label>
                    </div>
                    <div class="form-floating mb-3 mt-3">
                        <select [style.color]="(usuario.id_clase_usuario? 'black' : 'rgb(150, 150, 150)')"
                            class="form-select" name="id_clase_usuario" [(ngModel)]="usuario.id_clase_usuario" required>
                            <option value="0" disabled selected>Seleccionar</option>
                            <option style="color: black" *ngFor="let claseUsuario of clasesUsuario"
                                [value]="claseUsuario.id_clase_usuario">{{ claseUsuario.nombre_clase_usuario }}</option>
                        </select>
                        <label style="color: rgb(110, 110, 110)">Clase de usuario:</label>
                    </div>
                    <div class="form-floating mb-3 mt-3">
                        <select [style.color]="(usuario.genero? 'black' : 'rgb(150, 150, 150)')" class="form-select"
                            name="genero" [(ngModel)]="usuario.genero" required>
                            <option value="" disabled selected>Seleccionar</option>
                            <option value="Hombre" style="color: black">Hombre</option>
                            <option value="Mujer" style="color: black">Mujer</option>
                            <option value="Otro" style="color: black">Otro</option>
                        </select>
                        <label for="genero" style="color: rgb(110, 110, 110)">Género:</label>
                    </div>
                </div>
                <div style="width: 24%;">
                    <div class="d-flex align-items-center mb-3 mt-3 justify-content-start" style="height: 58px;">
                        <mat-slide-toggle color="primary" name="tipo_documento_publico"
                            [(ngModel)]="estadoDatos.tipo_documento_publico">Público</mat-slide-toggle>
                    </div>
                    <div class="d-flex align-items-center  mb-3 mt-3" style="height: 58px;">
                        <mat-slide-toggle color="primary" name="numero_documento_publiconumero_documento_publico"
                            [(ngModel)]="estadoDatos.numero_documento_publico">Público</mat-slide-toggle>
                    </div>
                    <div class="d-flex align-items-center  mb-3 mt-3" style="height: 58px;">
                        <mat-slide-toggle color="primary" name="clase_usuario_publica"
                            [(ngModel)]="estadoDatos.clase_usuario_publica">Público</mat-slide-toggle>
                    </div>
                    <div class="d-flex align-items-center  mb-3 mt-3" style="height: 58px;">
                        <mat-slide-toggle color="primary" name="genero_publico"
                            [(ngModel)]="estadoDatos.genero_publico">Público</mat-slide-toggle>
                    </div>
                </div>
                <div class="d-grid gap-2 mb-3">
                    <button *ngIf="!loadingCrear" type="submit" mat-raised-button color="primary">
                        <mat-icon>edit</mat-icon> ACTUALIZAR CUENTA
                    </button>
                    <div class="spinner-container" *ngIf="loadingCrear" style="display: flex; flex-direction: column; align-items: center;
                            justify-content: center; text-align: center;">
                        <app-spinner></app-spinner>
                    </div>
                </div>
                <div
                    style="display: flex; justify-content: space-between; margin-top: 20px; align-content: center; align-items: center; flex-direction: row;">
                    <button mat-mini-fab color="primary" type="button" (click)="regresar()" matTooltip="Atrás">
                        <mat-icon>arrow_back</mat-icon>
                    </button>
                </div>
            </div>

        </form>
    </div>
</div>