<div class="wrapper" style="margin-top: 50px;">
    <div class="signin mt-3 mt-md-0">
        <img style="margin-bottom: 40px;" src="../../../assets/img/img.jpg" class="logoAcceso">
        <h2 style="margin-bottom: 40px;color: rgb(255, 153, 0); text-align: center;">Bienvenido AVISOS</h2>
        <img style="margin-bottom: 90px;" src="../../../assets/img/logoOLX.jpg" class="logoAcceso">
        <div class="mt-1" style="margin-top: 50px; display: flex; justify-content: space-between;">
            <div class="d-grid gap-2 mb-3">
                <button type="button" class="btn btn-primary"
                    style="background-color: rgb(0, 204, 0);" routerLink="/signin">REGISTRATE</button>
            </div>
            <div class="d-grid gap-2 mb-3">
                <button type="submit" class="btn btn-primary" style="background-color: rgb(9, 179, 241);"
                routerLink="/login">INICIA SESIÓN</button>
            </div>
        </div>
        <div style="display: flex; justify-content: start; margin-top: 20px; align-content: center;
        align-items: center; flex-direction: row;">
            <a routerLink="/" style="text-decoration: none; display: flex; align-items: center;">
                <span style="display: block; font-size: 50px; padding-bottom: 10px;"><</span>
                <span style="color: black; font-size: 16px;">Atrás</span>
            </a>
        </div>
    </div>
</div>