* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html,
body {
    height: auto;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}

.logo {
    height: 90px;
    margin: 0px 0px 0px 0px;
    display: inline-block;

}

.logoOLX {
    max-width: auto;
    height: 40px;
    margin-left: 20px;
}

.fotoPerfil {
    height: 125px;
    margin: 0px 0px 0px 0px;
    display: inline-block;
}

.logoAcceso {
    max-width: 410px;
    width: 100%;
    display: inline-block;
}

.signin {
    max-width: 430px;
    width: 100%;
}

.editarPerfil {
    max-width: 450px;
    width: 100%;
}

.iconsAtrasSiguiente {
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    align-content: center;
    align-items: center;
    flex-direction: row;
}

#boton {
    width: 200px;
}

@media (max-width: 400px) {
    #boton {
        width: 150px;
    }

    .logoOLX {
        top: 10px;
        width: 60%;
        height: auto;
        margin-left: 0px;
    }

    .logoAcceso {
        max-width: 410px;
        width: 70%;
        display: inline-block;
    }
}